In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#data = pd.read_csv("Data.tsv")

df = pd.read_csv('Data.tsv', sep='\t')
df.drop(df.columns[[0, 4]], axis=1, inplace = True)

In [7]:
#Data cleaning:
#Converting wrongly inserted cm to international inches: 
#column_name = "Your height (in International inches)"
#boolean_condition =df.iloc[:, 2]>107 (tallest guy ever measured 272cm = 107 inches)
#new_value = df.iloc[:, 2]/2.54
#df.loc[boolean_condition, column_name] = new_value

df.loc[df.iloc[:, 2]>107, ["Your height (in International inches)"]] = df.iloc[:, 2]/2.54
print(df)

    Your mean shoe size (In European Continental system)    \
0                                                44.0
1                                                38.0
2                                                44.0
3                                                38.0
4                                                44.0
5                                                38.0
6                                                45.0
7                                                42.0
8                                                37.5
9                                                42.5
10                                               39.0
11                                               44.0
12                                               39.0
13                                               46.0
14                                               44.0
15                                               37.0
16                                               42.5
17                                               45.0
18                                               39.0
19                                               39.0
20                                               44.0
21                                               44.0
22                                               39.0
23                                               43.0
24                                               38.5
25                                               39.0
26                                               38.0
27                                               44.0
28                                               37.0
29                                               45.0
30                                               38.0
31                                               37.0
32                                               38.0
33                                               36.0
34                                               40.0
35                                               43.0
36                                               39.0
37                                               42.5
38                                               43.5
39                                               39.0
40                                               45.0
41                                               41.0
42                                               43.0
43                                               40.0
44                                                9.0
45                                               46.0
46                                               38.0
47                                               40.0
48                                               45.0
49                                               42.0

   Which programme are you studying?  Your height (in International inches)
0           MSc Software Design, ITU                              75.590000
1           MSc Software Design, ITU                              65.748031
2           MSc Software Design, ITU                              75.590551
3           MSc Software Design, ITU                              66.000000
4           MSc Software Design, ITU                              72.440945
5           MSc Software Design, ITU                              64.000000
6           MSc Software Design, ITU                              72.000000
7           MSc Software Design, ITU                              71.650000
8           MSc Software Design, ITU                              70.000000
9           MSc Software Design, ITU                              70.078740
10          MSc Software Design, ITU                               5.600000
11          MSc Software Design, ITU                              75.984000
12          MSc Software Design, ITU                              65.000000
13          MSc Software Design, ITU                              72.000000
14          MSc Software Design, ITU                              74.000000
15          MSc Software Design, ITU                              63.400000
16          MSc Software Design, ITU                              71.300000
17         MSc Computer Science, ITU                              73.622047
18          MSc Software Design, ITU                              68.503937
19          MSc Software Design, ITU                              69.000000
20          MSc Software Design, ITU                              73.000000
21          MSc Software Design, ITU                               6.100000
22          MSc Software Design, ITU                              68.000000
23          MSc Software Design, ITU                              73.230000
24          MSc Software Design, ITU                              68.000000
25          MSc Software Design, ITU                              70.078740
26                     MSc elsewhere                              70.070000
27          MSc Software Design, ITU                              71.000000
28          MSc Software Design, ITU                              65.000000
29          MSc Software Design, ITU                              73.000000
30          MSc Software Design, ITU                              64.000000
31                     MSc elsewhere                              63.780000
32          MSc Software Design, ITU                              64.566929
33          MSc Software Design, ITU                              63.000000
34          MSc Software Design, ITU                              68.000000
35          MSc Software Design, ITU                              71.000000
36          MSc Software Design, ITU                              67.700000
37                     MSc elsewhere                              68.900000
38          MSc Software Design, ITU                              71.200000
39          MSc Software Design, ITU                              68.000000
40          MSc Software Design, ITU                              73.000000
41                     MSc elsewhere                              70.500000
42                     MSc elsewhere                              68.000000
43          MSc Software Design, ITU                              70.800000
44          MSc Software Design, ITU                              55.000000
45                     MSc elsewhere                              70.900000
46          MSc Software Design, ITU                              68.110236
47          MSc Software Design, ITU                              72.047244
48          MSc Software Design, ITU                              74.800000
49          MSc Software Design, ITU                              72.440000